<section class="{{ section.id }}">
  <div class="container1">
    <h2>{{ section.settings.title }}</h2>
  </div>

  <div class="swiper featured-slider">
  <div class="swiper-wrapper">
    {% for product in collections[section.settings.collection].products %}
      <div class="swiper-slide">
        <div class="testimonial-card">
          <a href="{{ product.url }}">
           <img
                src="{{ product.featured_image | img_url: '400x' }}" alt="{{ product.title }}"
                class="testimonial-image" 
                width="{{ product.featured_image.width }}" height="{{ product.featured_image.height }}">

            <h3 class="testimonial-name">{{ product.title }}</h3>
            <p class="testimonial-quote">{{ product.price | money }}</p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>


    <!-- Keep same navigation arrows -->
    <div class="swiper-button-prev">{% render 'icon-arrow-left' %}</div>
    <div class="swiper-button-next">{% render 'icon-arrow-right' %}</div>
  </div>
</section>

<script>
  var swiper = new Swiper('.testimonials-slider', {
    slidesPerView: 3,
    spaceBetween: 20,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    breakpoints: {
      768: { slidesPerView: 2 },
      1024: { slidesPerView: 3 }
    }
  });
</script>

{% schema %}
{
  "name": "Featured Products Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Products Slider"
    }
  ]
}
{% endschema %}
